body{
    border:3px black solid;
    padding: 100px;
    background-color: grey;
}
.images{
    padding: 10px;
    border: black solid;
}
img{
    border-radius: 5%;
}
h2{
    text-align: center;
}
a{
    text-align: center;
}
.projects{
    width: 98%;
    background:background-color:rgb(60, 60, 60);
                 color:white;
    margin: 23px auto;
    overflow: hidden;
    border: solid;
    padding: 10px;

}
.projects ul{
    padding: 0px;
    border: black solid auto;
}
.projects ul li{
    margin:  42px 42px 0px 54px;
    height: 250px;
    list-style: none;
    float: left;
    border: solid;
    width:20%;
    background:rgb(60, 60, 60);
    color:white";

}
